/* BACKGROUND IMAGE FOR HOMEPAGE */

body{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

img {
    text-align: center;
}

