/* BACKGROUND IMAGE FOR HOMEPAGE */

body{
    background-color: black;
    color: whitesmoke;
}

.bg {
  /* The image used */
  background-image: url("img/Unknown.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}