/* BACKGROUND IMAGE FOR HOMEPAGE */

body{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
}

img {
    text-align: center;
}

.psw {
    color: black;
}
